body{
    /** Sets the attributes of the body of the document listed below to set the background image to
    cove the whole page background**/
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height:100%;

}
.links{
    /**This class will set the presentation of the navigation and
    the general outlook of the navigation links.**/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
#link{/**This id helps create the appearance of the links on the page**/
    display: block;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-family: 'Roboto Condensed' sans-serif;
}
#list{
    float: left;
}
#q{/**Sets the various attributes of the first element on the page(Quora) and sets it on top of the page**/
    z-index: 1;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 30px;
}
a:hover{/**sets what happens when the maouse hovers over links**/
    font-weight: bolder;
}
a{
    text-decoration: none;
}
#caption{/**Sets yhe styling for the words that come just below the Quora title**/
    text-align: center;
    font-family: 'Poiret one', cursive;

}
.center{/**Sets attributes for the center part of the document which contains the login form
    and several links**/
    display: inline-block;
    margin: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 40em;
    height: 20em;
    margin-top: -10em;
    margin-left: -20em;
    border: 1px solid dimgray;

}
/** The left and right ids Sets the positioning of the login form and links in the center of the page.**/
#left{
   float: left;
}
#right{
    float: right;
}

#bottom{/**Sets the links of the navigation below everything else.**/
    clear: both;
}
p{
    font-family:'Poiret one', cursive;
}
