body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height:100%;

}
.links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
#link{
    display: block;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-family: 'Roboto Condensed' sans-serif;
}
#list{
    float: left;
}
#q{
    z-index: 1;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 30px;
}
a:hover{
    font-weight: bolder;
}
a{
    text-decoration: none;
}
#caption{
    z-index: 2;
    text-align: center;
    font-family: 'Poiret one', cursive;

}
.center{
    z-index: 3;
    display: inline-block;
    margin: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 40em;
    height: 20em;
    margin-top: -10em;
    margin-left: -20em;
    border: 1px solid dimgray;

}
#left{
   clear: left;
}
#right{
    clear: right;
}
#bottom{
    clear: both;

}
p{
    font-family:'Poiret one', cursive;
}
